
.jumbotron{
  background: url("../images/jambo.jpg")no-repeat;
  opacity: 0.9;
}

.card{
  padding: 10px;
  margin: 10px;
  height: 35rem;
  background-color:rgb(173,216,230);
  opacity: 0.9;
}

img{
  height: 15rem;
}

.modal-button{
  width: 100%;
}

.card-title{
  cursor: pointer;
}

.card-footer{
  position: absolute;
  bottom: 0;
  background-color: transparent;
  border-top: 0;
}

body{
  width: 100%;
  background: url("../images/j_background.jpg") no-repeat;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
}

.modal-content{
  padding: 25px;
  background:rgb(106, 177, 201);
  color: black;
}

#scrapeComplete{
  position: relative;
  left: 300px;
  font-size: 20px;
  color: blue;
}