.card{
  padding: 10px;
  margin: 10px;
  height: 20rem;
}

.card-title{
  cursor: pointer;
}

.card-footer{
  position: absolute;
  bottom: 0;
  background-color: transparent;
  border-top: 0;
}

body{
  width: 100%;
  background: url("../images/j_background.jpg") no-repeat;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
}

.modal-content{
  padding: 25px;
  background:rgb(106, 177, 201);
  color: black;
}